.form_book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 200px;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  margin: 10px;

  text-align: center;
  border: 1px solid #222;
  border-radius: 5px;
  box-shadow: 0 0 10px #222;

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.form_book__cover {
  margin-bottom: 10px;
}

.form_book__actions {
  display: flex;
  justify-content: space-around;
}

.form_book__actions_add {
  background: rgb(13, 110, 13);
  color: rgb(255, 255, 255);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba(13, 110, 13, 0.397);
  }
}

.form_book__actions_cancel {
  color: rgb(255, 255, 255);
  background: rgb(149, 163, 243);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background: rgb(226, 16, 16);
  }
}
