.edit_field_actions {
    margin-bottom: 20px;
}

.edit_field_actions_check {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: rgb(29, 88, 18);
    cursor: pointer;

    transition: fill 0.2s ease-in-out;

    &:hover {
        fill: rgb(77, 172, 22);
    }
}

.edit_field_actions_notcheck {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: rgb(139, 29, 14);
    cursor: pointer;
}

.edit_field_actions_cancel {
    width: 25px;
    height: 25px;
    fill: rgb(201, 97, 29);
    cursor: pointer;

    transition: fill 0.2s ease-in-out;
    &:hover {
        fill: rgb(172, 22, 127);
    }
}
